<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sequences</title>
    <link rel="stylesheet" media="all" href="/assets/application-3810e62ea6fca9fbe24279fc0a69eb9d22e2f144892d963be465093b79006678.css" />
    <script src="/assets/application-25bd6b47ad2ef49757a639cd9dc9d7c4b137f7a0bf03bb8d13757d905d6dfcef.js"></script>
    <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="C8FBhq7o1eC60ZQD9Z6Ckj/cpyV6DQSXAus+TEwcOBMN+V4zG8b5+B7SVObvWEJ+nPvdqoqgcjnu5tPnfxd2Yg==" />
  </head>


  <body>
    <h1>A Quick Puzzle to Test Your Problem Solving</h1>

  <p>A short game sheds light on government policy, corporate America and why no one likes to be wrong.</p>

  <p>Here’s how it works:</p>

  <p>We’ve chosen a rule that some sequences of three numbers obey — and some do not. Your job is to guess what the rule is.</p>

  <p>We’ll start by telling you that the sequence 2, 4, 8 obeys the rule:</p>

  <ul>
    <li>
      2, 4, 8 Obeys the rule
    </li>
  </ul>

  <p>Now it's your turn. Enter a number sequence in the boxes below, and we'll tell you whether it satisifies the rulr or not.  You can test as many sequences as you want.
  </p>



  <ul>
      <li>
        0, 0, 0

          No.
      </li>
      <li>
        1, 2, 4

          Yes!
      </li>
      <li>
        0, 0, 0

          No.
      </li>
      <li>
        -10, -5, 0

          Yes!
      </li>
      <li>
        -1, 0, 1

          Yes!
      </li>
  </ul>


<form>
  <label for="first">First number:</label>
  <input name="first_number" id="first" type="text" placeholder="The first number">

  <label for="second">Second number:</label>
  <input name="second_number" id="second" type="text" placeholder="The second number">

  <label for="third">Third number:</label>
  <input name="third_number" id="third" type="text" placeholder="The third number">

<button>Check</button>
  </form>


  <p>When you think you know the rule, describe it in words below and then submit your answer.<strong> Make sure you're right
  <strong></p>

  <form action="http://www.google.com/search">
    <label for="answer"> Your answer:</label>
    <textarea id="answer" name="rule" rows="8" cols="40"
      placeholder= "Describe what you think the rule is">
  </textarea>
      <!-- this "rule" is the params hash -->

  <button>
    I think I know it
  </button>

</form>
<hr>
<a href="http://www.google.com">Reset</a>

  </body>
</html>
