<p>
  Now it’s your turn. Enter a number sequence in the boxes below, and we’ll tell you whether it satisfies the rule or not. You can test as many sequences as you want.
</p>

<ul>
  <% @list_of_guesses.each do |guess| %>
    <li>
      <%= guess.first %>,
      <%= guess.second %>,
      <%= guess.third %>

        <% if guess.first < guess.second && guess.second < guess.third %>
          Yes!
          <% else %>
          No.
          <% end %>
    <li>
  <% end %>
</ul>

<form action="http://localhost:3000/create_guess">
  <label for="first">First Number:</label>
  <input id="first" type="text" placeholder="The first number" name="first_number">

  <label for="second">Second Number:</label>
  <input id="second" type="text" placeholder="The second number" name="second_number">

  <label for="third">Third Number:</label>
  <input id="third" type="text" placeholder="The third number" name="third_number">

  <button>Check</button>
</form>
